<!DOCTYPE html>
<html>
<head>
  <title>Upall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body{margin:0;padding:0}
    h1{background:#ff0000;margin:0 0 20px;text-align:right;font-size:16px;font-family:Tahoma,Arial,sans-serif;box-shadow:0 2px 3px #000}
    h1 a{display:block;padding:15px 100px 15px 0;text-decoration:none;color:#fff;text-transform:uppercase;}
  </style>
</head>
<body>

<h1><a href="/">Welcome To Up'em All</a></h1>

<% if session[:user] %>
  <div class="top_links">
    <div class="links_wrapper">
      <%= link_to "Изход", login_signout_path %>
      <span class="sep">|</span>
      <%= link_to "Всички файлове", documents_arhive_path %>
      <span class="sep">|</span>
      <%= link_to "Мойте файлове", users_path %>
      <div class="clr"></div>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>
